# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
#vs files
.vs/
Debug/
x64/
packages/vcpkg.E.GitHubPro.vcpkg.1.0.0/vcpkg.E.GitHubPro.vcpkg.1.0.0.nupkg
packages/vcpkg.E.GitHubPro.vcpkg.1.0.0/build/native/vcpkg.E.GitHubPro.vcpkg.targets
packages/vcpkg.E.GitHubPro.vcpkg.1.0.0/build/native/vcpkg.E.GitHubPro.vcpkg.props
packages.config
first_blood.vcxproj.user
first_blood.vcxproj.filters
first_blood.vcxproj
first_blood.sln
test.sln
test.vcxproj
test.vcxproj.filters
test.vcxproj.user
packages/